flask
gunicorn
pandas
numpy
scikit-learn
lightgbm
xgboost
catboost
imbalanced-learn
joblib
# seaborn # Не нужен для работы API, только для визуализации
# optuna # Не нужен для работы API, только для обучения
